body {
    font-family: Arial, sans-serif;
    background-color: #ADD8E6;
    color: #1b1b1b;
    padding: 20px;
}

h1:first-of-type {
    color: #000000;
    text-align: center;
}

section {
    text-align: left;
}

p {
    font-size: 18px;
}